<div class="container border p-5 m-5 rounded-5 bg-white">
  <div class="header text-center mb-4">
    <h1>Mes fiches de paie</h1>
  </div>
  <div class="d-flex flex-column mx-auto" data-controller="display-payslip">
      <% @payslips.each do |payslip| %>
        <ul>
          <li class="form-container p-4 m-2 mx-auto rounded-5">
            <%= payslip.month_of_payslip %>
          </li>
        </ul>
      <% end %>

    <div class="form-container m-2 p-4 rounded-5">
      <ul>
        <li>Gross salary : <%#= @payslip.gross_salary %></li>
        <li>Employer contributions : <%#= @payslip.employer_contributions %></li>
        <li>Employee contributions : <%#= @payslip.employee_contributions %></li>
        <li>Paid amount : <%#=@payslip.paid_amount  %></li>
      </ul>
    </div>

  </div>
</div>


<%# TO DO :
Créer une méthode de model contract pour savoir si le contrat a déjà une payslip sur le mois d'une date donné
Créer une méthode de model contrat pour savoir si la payslip a bien une payslip sur le mois précédent %>
