<div class="container">
<h2>Mes contrats</h2>
 <% @contracts.each do |contract| %>
    <ul>
      <li>
      <%= contract.nanny.first_name %>
      <%= link_to "Create new payslip on this contract", contract_payslips_path(contract), data: {turbo_method: :post}, class: "btn btn-primary"%>
      </li>
        <h2>Liste des payslips</h2>
        <% contract.payslips.each do |payslip| %>
          <ul>
            <li><%= link_to payslip.id, contract_payslip_path(payslip.contract_id, payslip)%></li>
          </ul>
        <% end %>


    </ul>
  <% end %>


</div>
