// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #F4E7DD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: #6a1b9a;
$brown: #642817;
$beige: #DEC8B3;
$light-beige: #F4E7DD;
