// body {
//   margin: 0;
//   padding: 0;
//   background: linear-gradient(
//     to bottom,
//     #ffe4d7,
//     #f6bc85
//   ); /* Dégradé du rose au orange */
//   height: 100vh; /* S'assure que le dégradé couvre toute la hauteur de la page */
// }

.simple-calendar {
  table {
    min-height: 70vh;
  }
  .today {
    background-color: #f9eec8;
    border: 4px dotted #f4bb00;
    color: black;
  }
  .past {
    background-color: #e0e0f5;
    opacity: 0.5;
  }

  .future {
    background-color: #ffffff;
    opacity: 0.9;
  }
}

.calendar-heading a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.calendar-heading {
  color: red;
  font-weight: bold;
}

.event {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  border-radius: 4px;
  background: transparent;
  border: 2px solid $beige;
  transition: background 0.3s ease;
  position: relative;
}

.event:hover {
  background: $brown;
  color: white;
  .toggle {
    display: block;
  }
}

.toggle {
  display: none;
}
