.simple-calendar {
  table {
    min-height: 20vh;
  }
  .today {
    // background-color: beige;
    // border: 4px dotted white;
    color: black;
    background: #ffffff !important;
  }
  .past {
    background-color: #ffffff;
    opacity: 0.9;
  }

  .future {
    background-color: #ffffff;
    opacity: 0.9;
  }

  .day {
    font-size: 12px;
  }
}

.calendar-heading a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.calendar-heading {
  font-weight: bold;
}

.event {
  color: rgb(0, 0, 0);
  font-size: 16px;
  // padding: 8px 24px;
  margin-bottom: 2px !important;
  border-radius: 4px;
  background: transparent;
  border: 2px solid beige;
  transition: 0.3s ease;
  position: relative;
}

.event:hover {
  color: white !important;
  .toggle {
    display: block;
    color: white !important;
  }
}

.toggle {
  display: none;
}

.meeting {
  margin-bottom: 2px !important;

}
