.bg-light-purple {
  background-color: #f3e5f5;
}
.bg-white {
  background-color: #ffffff;
}
.header h1 {
  color: $purple;
}

.form-container {
  background-color: $purple;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-label {
  color: white;
}
.btn-primary {
  background-color: #8e24aa;
  border-color: #8e24aa;
}
.btn-primary:hover {
  background-color: $purple;
  border-color: $purple;
}
