// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  // overflow: hidden; /* Empêche le défilement de la page */
  position: relative; /* Nécessaire pour le positionnement absolu de la vidéo */
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Couvre toute la page sans déformation */
  z-index: -1; /* Place la vidéo en arrière-plan */
}
.container {
  text-align: center;
  color: #fff; /* Couleur du texte en blanc pour contraster avec le fond */
  z-index: 1; /* Place le contenu au-dessus de la vidéo */
  position: relative; /* Nécessaire pour que z-index fonctionne */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  z-index: 0; /* Assure que l'overlay est derrière la vidéo */
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.nav-links {
  position: absolute;
  top: 10px; /* Ajustez cette valeur pour l'espacement par rapport au haut */
  right: 10px; /* Ajustez cette valeur pour l'espacement par rapport à droite */
  .a {
    text-decoration: none;
    font-size: 30px;
  }
}
