.main-home {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4e7dd;
}

.top-navbar {
  color: #642817 !important;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 3;
}

.img-bg {
  z-index: 0;
}

.nav-logo img {
  width: 50px;
  height: auto;
}

.bg-img-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: image-url("children-homepage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}

.banner-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.text-banner {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  margin-bottom: 20px;
  font-size: 72px;
}

h3-home {
  padding: 50px;
}

.nav-connect {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.nav-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.content-section {
  padding: 20px 8px;
  text-align: center;
  background-color: #ffffff;
  color: black;
  width: 100%;
}

.content-section2 {
  padding: 20px 8px;
  text-align: center;
  background-color: #f4e7dd;
  color: black;
  width: 100%;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.text1 {
  margin: 20px;
  border-radius: 4px;
}

.nav-links {
  border-radius: 5px;
  text-decoration: none;
  color: #642817;
  border-color: #ffffff;
  padding: 6px;
  margin-top: 6px;
  margin-right: 6px;
}

.nav-links:hover {
  color: #642817;
  background-color: #ffffff;
  border-color: #642817;
  border: solid 1px;
}
