@import "simple_calendar";

// html,
// body {
//   height: 100%;
//   margin: 0;
//   display: flex;
// }

.centered-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-left: 250px;
}
