@import "simple_calendar";

.centered-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-left: 250px;
}


.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  // margin-left: 50px;
}

.event-hour {
  font-size: 45px;
  font-weight: 600;
}

.event-type {
  background-color: $primary;
  font-weight: 500;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
}

.day-strong {
  // margin: 0;
  background-color: $secondary;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;

}
.day-strong:hover {
  cursor: pointer;
}

.day-light {
  // margin: 0;
  background-color: $primary;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
}

.day-light:hover {
  cursor: pointer;

}


.day-transparent {
  // border: solid 1px;
  // margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
}
.day-transparent:hover {
  cursor: default;

}
