<div class="container main-page p-5">

  <div class="header mb-2">
    <h1>Créer un nouveau contrat</h1>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <div class="breadcrumb d-flex justify-content-around w-75">
          <div class="step current">1</div>
          <div class="step">2</div>
          <div class="step">3</div>
    </div>

    <div class="form-container card p-4 w-60">
      <%= simple_form_for(@nanny_contract) do |f| %>
        <div class="d-flex flex-row justify-content-start">
          <div>
            <%= f.input :nanny_id,
                        as: :radio_buttons,
                        collection: User.all_nannies,
                        label: "Nanny",
                        required: false,
                        label_method: lambda { |nanny| render "form_card", user: nanny },
                        wrapper_html: { class: "d-flex align-items-center justify-content-start" },
                        label_html: { class: "me-5" },
                        input_html: { class: "d-none"}%>
          </div>
          <div class="card nanny-new ms-4">
            <div class="card-body">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Unicode_0x002B.svg/1200px-Unicode_0x002B.svg.png" alt="new-nanny" class="card-img-top border border-primary rounded-circle">
              <h5 class="card-title">Inviter une nanny</h5>
            </div>
          </div>
        </div>
        <div>
        <%= f.input :children_id,
                    as: :check_boxes,
                    collection: current_user.children,
                    label: "Enfants",
                    label_method: lambda { |child| render "form_card", user: child },
                    wrapper_html: { class: "d-flex align-items-center justify-content-start" },
                    input_html: { class: "d-none"} %>
        </div>


        <div class="text-center">
          <%= f.submit 'Suivant', class: 'btn btn-primary mt-0' %>
        </div>
      <% end %>
      </div>
  </div>
</div>
