<div class="border p-5 m-5 rounded-2">

  <div>
    <h1>Créer un nouveau contract</h1>
  </div>

  <div class="breadcrumb">
    <ol>
      <li class="active">Choix de la Nanny</li>
      <li>Informations du Contrat</li>
      <li>Confirmation</li>
    </ol>
  </div>

  <div>
    <%= simple_form_for(@nanny_contract) do |f| %>
      <%= f.input :nanny_id, collection: User.all_nannies, label_method: -> (nanny) {
        "<p>#{nanny.first_name} #{nanny.last_name}</p>".html_safe
      }, label: 'Choix de la Nanny' %>
      <%= f.input :nanny_id, collection: current_user.children, label_method: -> (child) {
        "#{child.first_name} #{child.last_name}" } %>
      <%= f.submit 'Suivant' %>
    <% end %>
  </div>
</div>
