<div class="container p-5">

  <div class="header mb-2">
      <h1>Ma semaine</h1>
  </div>

  <div data-controller="welcome">

    <div class="d-flex justify-content-between">
      <p data-action="click->welcome#change_week"><<</p>
      <p data-action="click->welcome#events_of_day" data-day="monday">Lundi</p>
      <p data-action="click->welcome#events_of_day" data-day="tuesday">Mardi</p>
      <p data-action="click->welcome#events_of_day" data-day="wednesday">Mercredi</p>
      <p data-action="click->welcome#events_of_day" data-day="thursday">Jeudi</p>
      <p data-action="click->welcome#events_of_day" data-day="friday">Vendredi</p>
      <p>>></p>
    </div>

    <div data-welcome-target="calendar">
      <%= render "week-events", events: @events %>
    </div>

  </div>

</div>
