<div class="container" style="text-align: center;">
  <h1 style="margin-bottom: 20px;">Ma semaine</h1>

  <div style="margin: 0 auto; max-width: 75%; padding: 10px;">
    <%= week_calendar(attribute: :date, events: @events) do |date, events| %>
      <%= date %>

      <% events.each do |event| %>
        <div class="event">
          <p><%= event.type %></p>
          <div class="toggle"><%= event.description %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
