<div class="container">
  <div class="m-5 p-4 rounded-5 mx-auto">
    <div class="form-container m-0 p-2 rounded-5 text-center">
      <h1>Ma semaine</h1>
    </div>

  <div class=" m-2 p-2 border border-primary border-2 rounded-5 mx-auto">
    <div style="margin: 0 auto; max-width: 75%; padding: 10px;">
      <%= week_calendar(attribute: :date, events: @events) do |date, events| %>
        <%= date %>

        <% events.each do |event| %>
          <div class="event">
            <p><%= event.type %></p>
            <div class="toggle"><%= event.description %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    </div>
  </div>
</div>
