<div class="container" style="text-align: center;">
  <h1>Les événements de la semaine</h1>

<%= week_calendar(attribute: :date, events: @events) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div class="event">
      <p><%= event.type %></p>
    </div>
  <% end %>
<% end %>
