.breadcrumb {
  display: flex;
  position: relative;
  width: 100vh;
  margin: 0px!important;
}

.breadcrumb::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  height: 1px;
  background: $brown;
  z-index: 0;
}

.step {
  position: relative;
  padding: 4px 15px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid $brown;
  text-align: center;
  margin: 40px 100px;
  font-size: 20px;
  font-weight: bolder;
}

.step.current {
  background: $brown;
  border-color: $brown;
  color: #fff;
}
