.nanny-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 3px;
  width: 120px;
  height: 120px;
  text-align: center;
}

.nanny-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nanny-card input:checked + label {
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 0px;
  border-radius: 50%;
}

.card-title {
  font-size: 13px;
  margin: 10px;
}

.card-text {
  font-size: 0.9em;
  color: #666;
}

.form-check:has(.form-check-input[type="checkbox"]:checked) .nanny-card {
  background-color: $brown !important;
  color: $beige;
}

.form-check:has(.form-check-input[type="radio"]:checked) .nanny-card {
  background-color: $brown !important;
  color: $beige;
}

.new_contract_intake_nanny_contract legend {
  width: 4rem !important;
}

.nanny-new {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 3px;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-left: 1, 5rem;
}

.contract-card {
  width: 100%;
}

.contract-card:hover {
  cursor: pointer;
}

.child-card {
  width: 100%;
  padding: 15px !important;
  margin: 5px !important;
  position: relative;
}
