

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contract-type {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: $brown;
  margin: 20px;
  margin-left: 0px;
}

.radio-input:checked + .radio-label {
  background-color: $brown;
  border-color: $brown;
  color: #fff;
}

.radio-input#cdi:checked + .radio-label {
  background-color: $brown;
  border-color: $brown;
  color: #fff;
}

.radio-label:hover {
  background-color: #e0e0e0;
}

.btn:hover {
  background-color: #fff;
  color: #6A0DAD;
}
